@charset "utf-8";
/* CSS Document */

/*case*/
.wd{ margin:0 auto; width:1003px;}
.cz{animation:z1 3s;}

.y_fd {
	-webkit-animation: fadeInDown 1s .2s ease both;
	-moz-animation: fadeInDown 1s .2s ease both;
	animation: fadeInDown 1s .2s ease both;
	display:block !important;
}
@-webkit-keyframes fadeInDown {
0% {
opacity: 0;
-webkit-transform: translateY(-120px);
}
 100% {
opacity: 1;
-webkit-transform: translateY(0);
}
}
@-moz-keyframes fadeInDown {
0% {
opacity: 0;
-moz-transform: translateY(-120px);
}
 100% {
opacity: 1;
-moz-transform: translateY(0);
}
}
@keyframes fadeInDown {
0% {
opacity: 0;
transform: translateY(-120px);
}
 100% {
opacity: 1;
transform: translateY(0);
}
}


@keyframes z1 {
	0% {
		transform:scale(0.1);
	}
	100% {
		transform:scale(1);
	}
}
@-webkit-keyframes z1 {
	 0% {
		-webkit-transform:scale(0.1);
	}
	100% {
		-webkit-transform:scale(1);
	}
}
