@charset "utf-8";
/* CSS Document */

/*case*/
.wd100{ margin:0 auto; width:1000px;}
.cz{animation:z1 3s;}
.phlogo{ text-align:center; padding-top:63px; display:none;}
.htshowtit {
	text-align: center;
	color: #333;
	font-size: 30px;
	padding-top: 29px;
}
.htshowtit h3 {
	font-size: 30px;
	
}
.htshowtit p {
	margin-top: -3px;text-transform: uppercase; font-size:20px;
}
/*fullSlide*/
.fullSlide {
	width: 887px;
	position: relative;
	margin:32px auto 0;
	height:517px;
	background:url(../..\images\case\rifeng\mac6.png) no-repeat 0 0;
}
.fullSlide .bd {
	margin:0 auto;
	position: relative;
	z-index: 0;
	overflow: hidden;
}
.fullSlide .bd ul {
	width:675px;
	margin:30px 80px 31px 106px;
}
.fullSlide .bd li {
	width:675px;
	height:421px;
	overflow: hidden;
	text-align: center;
	text-indent:-9999px;
}

.y_fd {
	-webkit-animation: fadeInDown 1s .2s ease both;
	-moz-animation: fadeInDown 1s .2s ease both;
	animation: fadeInDown 1s .2s ease both;
	display:block !important;
}
@-webkit-keyframes fadeInDown {
0% {
opacity: 0;
-webkit-transform: translateY(-120px);
}
 100% {
opacity: 1;
-webkit-transform: translateY(0);
}
}
@-moz-keyframes fadeInDown {
0% {
opacity: 0;
-moz-transform: translateY(-120px);
}
 100% {
opacity: 1;
-moz-transform: translateY(0);
}
}
@keyframes fadeInDown {
0% {
opacity: 0;
transform: translateY(-120px);
}
 100% {
opacity: 1;
transform: translateY(0);
}
}


@keyframes z1 {
 0% {
transform:scale(0.1);
}
100% {
transform:scale(1);
}
}
@-webkit-keyframes z1 {
 0% {
-webkit-transform:scale(0.1);
}
 100% {
-webkit-transform:scale(1);
}
}
}

@keyframes z2 {
 0% {
transform:translateX(0);
}
100% {
transform:translateX(500px);
}
}
@-webkit-keyframes z2 {
 0% {
-webkit-transform:translateX(0);
}
 100% {
-webkit-transform:translateX(500px);
}
}
}




















